body {
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.navbar {
  padding-left: 30px;
}
p {
  padding: 30px;
}
h1 {
  margin-bottom: 30px;
}

@media (min-width: 320px) and (max-width: 600px) {
  .navbar {
    color: black;
    font-weight: bold;
    padding-left: 40px;
  }
  .navbar-toggler {
    margin-right: 25px;
  }
  div {
    margin: 20px 50px 20px 50px;
  }
}
